.sidebar {
  &__wrapper {
    background-color: #f4f4f4;
  }

  &__form {
    position: relative;
    min-width: 270px;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  @media (min-width: 1024px) {
    .btn-menu {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    transition: all $animation;
    transition-property: background-color;

    .btn-menu {
      position: absolute;
      top: 15px;
      left: calc((24px + 15px) * (-1));
    }

    &__wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      padding: 30px 15px;
      transform: translateX(100%);
      transition: all $animation;
      transition-property: transform;
    }

    &.is-open {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);

      .sidebar__wrapper {
        transform: translateX(0);
      }
    }
  }
}
