$white: #fff;
$black: #000;
$sunglow: #ffcf26;
$boulder: #777777;
$mountainMeadow: #11be75;
$wildSand: #f4f4f4;
$bostonBlue: #4290C9;
$alto: #d6d6d6;
$kournikova: #ffe074;
$mineShaft: #3c3c3c;
$mercury: #e5e5e5;

$containerWidth: 1171px;
$containerIndent: 15px;

$radius: 4px;

$card: 270px;

$animation: 0.3s ease-in-out;
