.location-checkbox {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__input {
    @include visually-hidden();
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    transition: all $animation;
    transition-property: background-color;

    &:hover {
      background-color: $sunglow;
    }
  }

  &__input:checked ~ &__btn {
    background-color: $sunglow;

    &:hover {
      background-color: darken($color: $sunglow, $amount: 10%);;
    }
  }
}
